---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if (post.title | strip_newlines) != ""  %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          <img src="{{ post.previewImg }}" alt="Where is my preview image">
          <br>
          <br>
          <p>{{ post.info }}</p>
          <input type="button" onclick="location.href='{{ post.url | prepend: site.baseurl }}';" value="Read more" />
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
